.logo {
  border-radius: 50%;
  transform: rotate(180deg);
  transition: all 0.6s ease-out;
}
.logo.active {
  transform: rotate(0deg);
  transition: all 0.6s ease-out;
}
.image-container {
  padding: 15%;
  width: 70%;
  text-align: center;
}
.navbar-uncompressed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background-color: rgba(var(--default-background-color), 0.5);
  backdrop-filter: blur(6px);
  box-shadow: 5px 0px 20px;
}

.navbar {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

#home {
  padding: 1em;
  align-self: center;
}

.nav-link {
  padding: 1em;
  color: var(--default-font-color);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.nav-link:hover {
  background-color: rgb(36, 28, 45);
  color: var(--default-secundary-font-color) !important;
}

.nav-link:visited {
  color: var(--default-font-color);
  text-decoration: none;
  background-image: none;
}

.navbar > li {
  align-self: center;
}

.navbar-compressed {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.nav-header-menu {
  padding: 0.8em;
  z-index: 2;
  width: 100%;
  background-color: rgba(var(--default-background-color), 0.5);
  backdrop-filter: blur(6px);
  box-shadow: 5px 0px 20px;
}

#nav-columnar-menu-background {
  visibility: hidden;
  position: absolute;
  padding: 0em;
  margin-top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s 0.1s ease-in;
}
#nav-columnar-menu-background.active {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease-in;
}
#nav-columnar-menu {
  font-size: 0.9rem;
  position: absolute;
  margin-top: 0;
  background-color: rgb(38, 26, 50);
  width: 75%;
  height: 100vh;
  left: -100vw;
  transition: all 0.3s ease-out;
}
#nav-columnar-menu-list {
  list-style-type: none;
  padding: 0;
}
#nav-columnar-menu.active {
  left: 0;
  transition: all 0.6s ease-out;
}

.nav-element {
  display: flex;
  text-align: left;
  padding: 0.5em;
  padding-left: 5em;
  transition: all 0.5s ease-in-out;
  justify-content: flex-start;
  align-items: center;
}

.nav-element:hover {
  background-color: rgb(36, 28, 45);
}

.nav-link.compressed {
  padding: 0;
}
.nav-link-label {
  padding-left: 1.5em;
}
