:root {
  --default-font-family: "Lato", sans-serif;
  --default-font-color: rgb(217, 200, 255);
  --default-secundary-font-color: rgb(6, 232, 232);
  --default-background-color: rgb(19, 12, 26);
  background-color: var(--default-background-color);
  font-size: 25px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* || GENERAL STYLES */
body {
  margin: 0;
}

main {
  transition: all 0.8s ease-in;
}

p {
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  max-width: 650px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif !important;
}

/* % always with the property width */
footer,
section {
  /* for guide */
  /* border: solid 3px aqua; */
  width: 60%;
  margin: 0 auto;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  height: calc(100vh - 5em);
  z-index: 2;
}

ul {
  list-style-type: circle;
}

a {
  font-family: var(--default-font-family);
  color: var(--default-font-color);
}

i {
  color: rgb(148, 112, 220);
  margin: 0.1em;
  color: var(--default-secundary-font-color);
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    black,
    rgba(0, 255, 255, 0.75),
    black
  );
}
/* || UTILITIES */

.reveal {
  opacity: 0;
  transition: all 1s ease-in;
  transform: translate(0vh, 3vh);
}

.reveal.active {
  opacity: 1;
  transform: translate(0vh, 0vh);
}

.br-show {
  display: none;
}

/* || SITEWIDE */

.subtitle {
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  /* for font-size I use to avoid cascading problem*/
  font-size: 2.3rem;
}

.centered-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  padding: 1rem;
}

@keyframes show-presentation {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }
}

@keyframes show-presentation-main-skill {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

/* unvisited link */
.work-link:link {
  color: var(--default-secundary-font-color);
  text-decoration: none;
  background-image: linear-gradient(
    var(--default-secundary-font-color),
    var(--default-secundary-font-color)
  );
  background-size: 0% 15%;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
.work-link:active {
  background-color: transparent;
}
.work-link:visited {
  color: var(--default-secundary-font-color);
}

/* mouse over link */
.work-link:hover {
  background-size: 100% 15%;
}

/* selected link */
.icon-link {
  background-image: none;
}
.icon-link:active {
  background-color: transparent;
}
.icon-link:link > i {
  background-size: 100% 100%;
  transition: all 0.5s ease-in-out;
}

.icon-link:hover > i {
  color: black;
  text-shadow: 0rem 0rem 1rem aqua;
}

@media (max-width: 1100px) {
  :root {
    font-size: 25px;
  }

  .card-project {
    width: 65%;
  }

  section,
  footer {
    width: 70%;
  }

  p {
    max-width: 600px;
  }
}

@media (max-width: 885px) {
  :root {
    font-size: 20px;
  }

  p {
    max-width: 450px;
  }

  section,
  footer {
    width: 70%;
  }
}

@media (max-width: 665px) {
  :root {
    font-size: 15px;
  }

  p {
    max-width: 330px;
  }

  section,
  footer {
    width: 75%;
  }
}

@media (max-width: 510px) {
  :root {
    font-size: 15px;
  }

  p {
    max-width: 85%;
  }

  .navbar {
    display: none !important;
  }

  .navbar-compressed {
    display: block !important;
  }

  section,
  footer {
    width: 80%;
  }

  .br-show {
    display: inline;
  }
}

@media (max-width: 350px) {
  :root {
    font-size: 10px;
  }

  .navbar {
    display: none !important;
  }

  .navbar-compressed {
    display: block !important;
  }

  p {
    max-width: 90%;
  }

  section,
  footer {
    width: 85%;
  }

  .br-show {
    display: inline;
  }
}
