:root {
  --default-font-family: "Lato", sans-serif;
  --default-font-color: rgb(217, 200, 255);
  --default-secundary-font-color: rgb(6, 232, 232);

  background-color: rgb(9, 3, 15);
  font-size: 25px;
  scroll-behavior: smooth;
}

/* || GENERAL STYLES */
body {
  margin: 0;
}

main {
  transition: all 0.8s ease-in;
}

p {
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  max-width: 650px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif !important;
}

/* % always with the property width */
footer,
section {
  /* for guide */
  /* border: solid 3px aqua; */
  width: 60%;
  margin: 0 auto;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  height: calc(100vh - 5em);
  z-index: 2;

}

.opacity-effect {
  filter: opacity(50%);
  -webkit-filter:  opacity(50%) ;
  /* backdrop-filter: opacity(20%) grayscale(70%); */
}


article {
  padding: 2.5em;
}

ul {
  list-style-type: circle;
}

a {
  font-family: var(--default-font-family);
  color: var(--default-font-color);

}

i {
  color: rgb(148, 112, 220);
  margin: 0.2em 0.2em;
  color: var(--default-secundary-font-color);
}


/* || UTILITIES */

.reveal {
  opacity: 0;
  transition: all 1s ease-in;
  transform: translate(0vh, 3vh);
}

.reveal.active {
  opacity: 1;
  transform: translate(0vh, 0vh);
}

.br-show {
  display: none;
}


/* || SITEWIDE */

.subtitle {
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  /* for font-size I use to avoid cascading problem*/
  font-size: 2rem;

}

.centered-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

@keyframes show-presentation {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }

}

@keyframes show-presentation-main-skill {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);

  }
}

/* unvisited link */
.work-link:link {
  color: var(--default-secundary-font-color);
  text-decoration-color: var(--default-secundary-font-color);
  background-image: linear-gradient(var(--default-secundary-font-color), var(--default-secundary-font-color));
  background-size: 100% 0%;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;

}

.work-link:visited {
  color: var(--default-secundary-font-color);
  text-decoration-color: var(--default-secundary-font-color);
}

/* mouse over link */
.work-link:hover {
  color: var(--default-font-family);
  background-size: 100% 100%;
}

/* selected link */
.icon-link {
  background-image: none;
}

.icon-link:link>i {
  background-size: 100% 100%;
  transition: all 0.5s ease-in-out;
}

.icon-link:hover>i {
  color: black;
  text-shadow: 0rem 0rem 1rem aqua;
}

@media (max-width: 1100px) {
  :root {
    font-size: 25px;


  }

  .card-project {
    width: 65%;
  }

  section,
  footer {
    width: 75%;
  }

  p {
    max-width: 600px;
  }
}

@media (max-width: 885px) {
  :root {
    font-size: 20px;

  }

  p {
    max-width: 450px;
  }

  section,
  footer {
    width: 75%;

  }
}

@media (max-width: 665px) {
  :root {
    font-size: 15px;
  }

  p {
    max-width: 330px;
  }

  section,
  footer {
    width: 80%;

  }
}

@media (max-width: 510px) {
  :root {
    font-size: 15px;
  }

  p {
    max-width: 85%;
  }

  .navbar {
    display: none !important;
  }

  .navbar-compressed {
    display: block !important;
  }

  section,
  footer {
    width: 83%;
  }

  .br-show {
    display: inline;
  }
}

@media (max-width: 350px) {
  :root {
    font-size: 10px;
  }

  .navbar {
    display: none !important;
  }

  .navbar-compressed {
    display: block !important;
  }

  p {
    max-width: 90%;
  }

  section,
  footer {
    width: 88%;
  }

  .br-show {
    display: inline;
  }
}