html {
  background-color: rgb(9, 3, 15);
}
.presentation{
  color: rgb(148, 112, 220);
  font-family: "Lato", sans-serif;
}
#presentation{
  color: aqua;
  font-size: 4vw;
}
#presentation-main-skill{
  font-size: 3vw;
}
#presentation-description{
  font-size: 2vw;
}

.title{
  color: rgb(148, 112, 220);
  font-family: "Lato", sans-serif;
  font-size: 3vw;
}
article p{
  font-size: 2vw;
  color: rgb(148, 112, 220);
  font-family: "Lato", sans-serif;

}
section {
  width: 80vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 10rem;
  height: 90vh;
}

footer {
  width: 70vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
}



ul {
  list-style-type: circle;
}


a {
  text-decoration: none;
  font-family: "Lato", sans-serif;

}

/* unvisited link */
a:link {
  color: rgb(255, 112, 112);
}

/* visited link */
a:visited {
  color: rgb(81, 160, 160);
}

/* mouse over link */
a:hover {
  color: aqua;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgb(148, 112, 220);
}