:root {
  --default-font-family: "Lato", sans-serif;
  --default-font-color: rgb(148, 112, 220);
  background-color: rgb(9, 3, 15);
}

/* elements */
p {
  font-size: 1.5vw;
  color: var(--default-font-color);
  font-family: var(--default-font-family);

}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif !important;
}
/* % always with the property width */
header,
section {
  width: 60%;
  margin: 0 auto;
  margin-top: 20vh;
  height: 60vh;
}

footer {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10vh;
  height: 20vh;
}
.footer{
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.footer-item{
  text-align: center;
}
ul {
  list-style-type: circle;
}

a {
  font-family: var(--default-font-family);
  color: var(--default-font-color);

}

i {
  font-size: 3vw !important;
  color: rgb(148, 112, 220);
  margin: 0.5vh 0.5vw;
  color: aqua;
}

/* Classes */
.presentation {
  padding-top: 5vh;
  color: rgb(148, 112, 220);
  font-family: var(--default-font-family);

}

.subtitle {
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  font-size: 3vw;

}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts-item{
  text-align: center;
}

.reveal {
  opacity: 0;
  transition: all 1s ease-in;
  transform: translate(0vh, 3vh);
}

.reveal.active {
  opacity: 1;
  transform: translate(0vh, 0vh);

}

/* Ids */
#presentation-title {
  color: aqua;
  font-size: 5vw;
  animation: 1s show-presentation ease;
}

@keyframes show-presentation {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }

}

#presentation-main-skill {
  opacity: 0;
  font-size: 4vw;
  animation-name: show-presentation-main-skill;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes show-presentation-main-skill {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);

  }
}

#presentation-description {
  opacity: 0;
  animation-name: show-presentation-main-skill;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}


/* unvisited link */
a:link {
  color: aqua;
  text-decoration-color: aqua;
  background-image: linear-gradient(aqua, aqua);
  background-size: 100% 0%;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;

}

/* mouse over link */
a:hover {
  color: var(--default-font-family);
  background-size: 100% 100%;
}

/* selected link */
a:link:has(i){
  background-image:none;
}
a:link>i {
  background-size: 100% 100%;
  transition: all 0.5s ease-in-out;

}

a:hover>i {
  color: black;
  text-shadow: 0px 0px 15px aqua;
}