:root {
  --default-font-family:"Lato", sans-serif;
  --default-font-color:rgb(148, 112, 220);
  background-color: rgb(9, 3, 15);
}
/* elements */
p{
  max-width: 50vw;
  font-size: 1.5vw;
  color: var(--default-font-color);
  font-family: var(--default-font-family);

}

header, section {
  width: 80vw;
  max-width: var(--max-width);
  margin: 0 auto;
  height: 80vh;
}

footer {
  width: 80vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 5rem;
  height: 80vh;
}

ul {
  list-style-type: circle;
}

a {
  font-family: var(--default-font-family);
  color: var(--default-font-color);

}


/* Classes */
.presentation{
  margin-top: 10rem;
  color: rgb(148, 112, 220);
  font-family: var(--default-font-family);
}

.subtitle{
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  font-size: 3vw;
}

/* Ids */
#presentation-title{
  color: aqua;
  font-size: 4vw;
}
#presentation-main-skill{
  font-size: 3vw;
}


/* unvisited link */
a:link {
  color: var(--default-font-family);
  text-decoration: underline;
  text-decoration-color: aqua;
  background-image: linear-gradient(aqua,aqua);
  background-position: 0vh 3.5vh;
  background-repeat: no-repeat;
}

/* mouse over link */
a:hover {
  background-position: 0vh 0vh;
}

/* selected link */
a:active {
  color: aqua;  
  background-position: 0vh 3.5vh;
  text-decoration-color:--default-font-color;
}