---
export interface Props {
	reveal?: boolean;
}
const { reveal = false } = Astro.props;
---

<p
	class:list={[{ reveal: reveal }]}
	class="mb-2.5 text-[var(--default-font-color2)]"
>
	<slot />
</p>
