---
export interface Props {
	reveal?: boolean;
	textColor?: string;
}
const { reveal = false, textColor = 'text-[var(--default-font-color2)]' } =
	Astro.props;
---

<p class:list={[{ reveal: reveal }, textColor]} class="] mb-2.5 text-lg">
	<slot />
</p>
