---
export interface Props {
	left?: boolean;
	center?: boolean;
	right?: boolean;
}
const { center = false, left = false, right = false } = Astro.props;
---

<h2
	class="reveal my-2 text-5xl font-bold text-[var(--default-font-color)]"
	class:list={[
		{ 'text-left': left, 'text-center': center, 'text-right': right },
	]}
>
	<slot />
</h2>
