---
export interface Props {
	left?: boolean;
	center?: boolean;
	right?: boolean;
	class?: string;
}
const { center = false, left = false, right = false } = Astro.props;
---

<h2
	class="my-2 text-5xl font-bold tracking-wide text-[var(--default-font-color)] max-sm:text-3xl"
	class:list={[
		{ 'text-left': left, 'text-center': center, 'text-right': right },
		Astro.props.class,
	]}
>
	<slot />
</h2>
