.logo {
  margin: auto;
  height: auto;
  transform: rotate(180deg);
  transition: all 0.6s ease-out;
}
.logo.active {
  transform: rotate(0deg);
  transition: all 0.6s ease-out;
}
.image-container {
  padding: 5%;
  width: 90%;
  margin: auto;
  text-align: center;
  display: block;
}
.navbar-uncompressed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background-color: rgba(var(--default-background-color), 0.5);
  backdrop-filter: blur(6px);
}

.navbar {
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

#home {
  padding: 0.2em;
  align-self: center;
}

.navbar > li {
  align-self: center;
}

.navbar-compressed {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.nav-header-menu {
  padding: 0.8em;
  z-index: 2;
  width: 100%;
  background-color: rgba(var(--default-background-color), 0.5);
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 20px;
}

.nav-columnar-menu-background {
  visibility: hidden;
  position: absolute;
  padding: 0em;
  margin-top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s 0.1s ease-in;
}
.nav-columnar-menu-background.active {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease-in;
}
#nav-columnar-menu {
  font-size: 0.9rem;
  position: absolute;
  margin-top: 0;
  background-color: #241c2d;
  width: 75%;
  height: 100vh;
  left: -100vw;
  transition: all 0.3s ease-out;
}
#nav-columnar-menu.active {
  left: 0;
  transition: all 0.6s ease-out;
}
#nav-columnar-menu-list {
  list-style-type: none;
  padding: 0;
}
