.image-container {
  padding: 5%;
  width: 90%;
  margin: auto;
  text-align: center;
  display: block;
}
.nav-columnar-menu-background.active {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in;
}
#nav-columnar-menu.active {
  left: 0;
  transition: all 0.5s ease-out;
}
