/* TODO: create custom animations to tailwind */
.presentation-title {
  animation: 500ms show-presentation ease;
}

.presentation-main-skill {
  animation: 500ms ease 0.2s forwards show-presentation-main-skill;
}

.presentation-description {
  animation: show-presentation-main-skill 500ms ease 0.4s forwards;
}
