#work {
  height: 120vh;
}

.card-projects {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card-links {
  padding: 0.2em;
  display: flex;
}

#open-ecommerce {
  align-self: flex-end;
}

#angular-portfolio {
  align-self: flex-start;
}

#angular-portfolio .card-links {
  justify-content: end;
}
#online-cv-maker {
  align-self: flex-end;
}
