:root {
  --default-font-family: "Lato", sans-serif;
  --default-font-color: rgb(222, 207, 253);
  --default-secundary-font-color: rgb(6, 232, 232);
  --default-background-color: rgb(36, 23, 48);
  --default-background-color-shadow: rgb(15, 12, 20);
  background-color: var(--default-background-color);
  font-size: 25px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* || GENERAL STYLES */
body {
  margin: 0;
}

main {
  transition: all 0.8s ease-in;
}

p {
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  max-width: 650px;
  margin: 0.5em 0;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif !important;
  margin: 0.7rem 0;
}

/* % always with the property width */
footer,
section {
  /* for guide */
  /* border: solid 3px aqua; */
  width: 60%;
  margin: 3em auto;
  padding-top: 2em;
  height: 100vh;
  z-index: 2;
}

ul {
  list-style-type: none;
}

a {
  font-family: var(--default-font-family);
  color: var(--default-font-color);
  display: inline-block;
}

i {
  color: rgb(148, 112, 220);
  margin: 0.1em;
  color: var(--default-secundary-font-color);
}
hr {
  width: 80%;
  border: 0;
  height: 0.05em;
  background: var(--default-font-color);
}
/* || UTILITIES */

.reveal {
  opacity: 0 !important;
  transition: all 1s ease-in;
  transform: translate(0vh, 3vh);
}

.reveal.active {
  opacity: 1 !important;
  transition: all 1s ease-in;
  transform: translate(0vh, 0vh);
}

.br-show {
  display: none;
}

/* || SITEWIDE */

.subtitle {
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  /* for font-size I use to avoid cascading problem*/
  font-size: 2.3rem;
}

.centered-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  padding: 1rem;
}

@keyframes show-presentation {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }
}

@keyframes show-presentation-main-skill {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

/* unvisited link */
.work-link:link {
  color: var(--default-secundary-font-color);
  text-decoration: none;
  background-image: linear-gradient(
    var(--default-secundary-font-color),
    var(--default-secundary-font-color)
  );
  background-size: 0% 15%;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
.work-link:active {
  background-color: transparent;
}
.work-link:visited {
  color: var(--default-secundary-font-color);
}

/* mouse over link */
.work-link:hover {
  background-size: 100% 15%;
}

.icon-github {
  background-image: url(/images/github.svg);
}
.icon-twitter {
  background-image: url(/images/twitter.svg);
}
.icon-linkedin {
  background-image: url(/images/linkedin.svg);
}
.icon-google {
  background-image: url(/images/google.svg);
}
.icon-house {
  background-image: url(/images/house.svg);
}
.icon-user {
  background-image: url(/images/user.svg);
}
.icon-phone {
  background-image: url(/images/phone.svg);
}
.icon-bars {
  background-image: url(/images/bars.svg);
}
.icon-file-code {
  background-image: url(/images/file-code.svg);
}
.svg-icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  filter: invert(92%) sepia(45%) saturate(2282%) hue-rotate(102deg)
    brightness(93%) contrast(96%);
  transition: all 0.5s ease-in-out;
}
.svg-icon:hover {
  transition: all 0.5s ease-in-out;
  filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(273deg) brightness(105%)
    contrast(101%) drop-shadow(0rem 0rem 1rem aqua);
}

.svg-icon-m {
  height: 2rem;
  width: 2rem;
}
.svg-icon-s {
  height: 1.5rem;
  width: 1.5rem;
}
@media (max-width: 1100px) {
  :root {
    font-size: 25px;
  }

  section,
  footer {
    width: 70%;
  }

  p {
    max-width: 600px;
  }
}

@media (max-width: 885px) {
  :root {
    font-size: 20px;
  }

  p {
    max-width: 450px;
  }

  section,
  footer {
    width: 70%;
  }
}

@media (max-width: 665px) {
  :root {
    font-size: 15px;
  }

  p {
    max-width: 330px;
  }

  section,
  footer {
    width: 75%;
  }
}

@media (max-width: 510px) {
  :root {
    font-size: 15px;
  }

  p {
    max-width: 85%;
  }

  .navbar {
    display: none !important;
  }

  .navbar-compressed {
    display: block !important;
  }

  section,
  footer {
    width: 80%;
  }
  #work {
    height: calc(100vh - 6em) !important;
  }
  .br-show {
    display: inline;
  }
}

@media (max-width: 350px) {
  :root {
    font-size: 10px;
  }

  .navbar {
    display: none !important;
  }

  .navbar-compressed {
    display: block !important;
  }

  p {
    max-width: 90%;
  }

  section,
  footer {
    width: 85%;
  }
  .br-show {
    display: inline;
  }
}
