---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import AboutMe from "../components/AboutMe.astro";
import Footer from "../components/Footer/Footer.astro";
import Work from "../components/Work/Work.astro";
import Presentation from "../components/Presentation.astro";
---

<script>
  import {reveal} from "../utils/events"
  // TODO: refactor this code
  function changeState(navColumnarMenuBackground) {
    if (
      !navColumnarMenuBackground.style.visibility ||
      navColumnarMenuBackground.style.visibility === "hidden"
    ) {
      navColumnarMenuBackground.style.visibility = "visible";
    } else {
      navColumnarMenuBackground.style.visibility = "hidden";
    }

    [...document.getElementsByClassName("changeable")].forEach((element) => {
      element.classList.toggle("active");
    });
  }
  window.addEventListener("scroll", reveal);
  document.addEventListener("DOMContentLoaded", function () {
    const changeSiderElements = document.getElementsByClassName("change-sidebar");
    for (const element of changeSiderElements) {
       element.addEventListener("click", () => {
        const [navColumnarMenuBackground] = document.getElementsByClassName(
          "nav-columnar-menu-background"
        );
        changeState(navColumnarMenuBackground);
      });
    }
    document.addEventListener(
      "touchstart",
      (ev) => {
        const navColumnarMenuBackground = document
          .getElementsByClassName("nav-columnar-menu-background")
          .item(0);
        const navColumnarMenu = document.getElementById("nav-columnar-menu");
        let targetElement = ev.targetTouches[0].target;
        if (
          navColumnarMenuBackground.contains(targetElement as Node) &&
          !navColumnarMenu.contains(targetElement as Node)
        ) {
          changeState(navColumnarMenuBackground);
        }
      },
      {passive: true}
    );
  });
</script>
<Layout title="Carlos Jorge's personal portfolio website">
  <Header />
  <main>
    <!-- TODO: Add Scroll Snap Mandatory -->
    <!-- https://midu.dev/css-scroll-snap-la-solucion-definitiva-a-la-creacion-de-sliders-en-la-web/ -->
    <Presentation />
    <Work />
    <AboutMe />
  </main>
  <Footer />
</Layout>
