---
import Link from './Link.astro';
import SideBarLink from './SideBarLink.astro';
import IconElement from '../shared/IconElement.astro';
import HamburgerMenuIcon from './HamburgerMenuIcon.astro';
---

<header>
	<nav class="fixed top-0 z-[4] w-full shadow-lg shadow-black backdrop-blur">
		<ul
			class="m-0 flex list-none flex-row justify-between p-0.5 max-sm:hidden [&>li]:self-center"
		>
			<li class="p-1">
				<Link href="#" arialLabel="Go to presentation">
					<IconElement iconType="house" height="h-6" width="w-7" />
				</Link>
			</li>
			<li class="mx-2">
				<Link href="#work" arialLabel="See my work experience">
					Work
				</Link>
				<Link
					href="#aboutMe"
					arialLabel="Additional information about me"
				>
					About me
				</Link>
				<Link
					href="#contact"
					arialLabel="You can contact me throught..."
				>
					Contact
				</Link>
			</li>
		</ul>
	</nav>
	<nav class="fixed top-0 z-[2] hidden w-full max-sm:block">
		<HamburgerMenuIcon />
		<div
			class="changeable z-[2] h-16 w-full p-3 shadow-[0px_0px_20px] backdrop-blur"
		>
		</div>
		<div
			class="nav-columnar-menu-background changeable bg-[rgba(0, 0, 0, 0)] invisible absolute top-0 z-50 mt-0 h-screen w-screen overflow-hidden p-0 transition-all delay-100 duration-300 ease-out max-sm:h-[100dvh] [&.active]:bg-[#00000080] [&.active]:ease-in-out"
		>
			<div
				id="nav-columnar-menu"
				class="changeable absolute left-[-100vw] mt-0 h-screen w-3/4 bg-[#241c2d] text-[0.9rem] transition-all duration-500 ease-out [&.active]:left-0 [&.active]:ease-in-out"
			>
				<picture
					class="image-container m-auto block w-11/12 p-2 text-center"
				>
					<img
						class="logo changeable m-auto h-auto rotate-180 transition-all duration-500 ease-out [&.active]:rotate-0"
						src="./images/logo-1.svg"
						alt="logo"
						width="200"
						height="200"
					/>
				</picture>
				<hr
					class="m-auto h-0.5 w-[80%] border-0 bg-[var(--default-font-color)]"
				/>
				<nav>
					<ul
						id="nav-columnar-menu-list"
						class="flex list-none flex-col items-center p-0 text-xl"
					>
						<SideBarLink href="#" label="Home" iconType="house" />
						<SideBarLink
							href="#work"
							label="Work"
							iconType="code-blocks"
						/>
						<SideBarLink
							href="#aboutMe"
							label="About me"
							iconType="user"
						/>
						<SideBarLink
							href="#contact"
							label="Contact"
							iconType="contact-phone"
						/>
					</ul>
				</nav>
			</div>
		</div>
	</nav>
</header>
