---
import Link from './Link.astro';
import SideBarLink from './SideBarLink.astro';
import HamburgerMenuIcon from './HamburgerMenuIcon.astro';
import IconHome from '../icons/IconHome.astro';
import IconContainer from '../icons/IconContainer.astro';
import IconAddress from '../icons/IconAddress.astro';
import IconUser from '../icons/IconUser.astro';
import IconCode from '../icons/IconCode.astro';
---

<header>
	<nav class="header-animation fixed top-0 z-[4] w-full">
		<ul
			class="m-0 mx-auto flex w-[60%] list-none flex-row justify-between p-0.5 max-md:w-[80%] max-sm:hidden max-sm:w-[90%] [&>li]:self-center"
		>
			<li class="mt-1 p-1">
				<Link href="#home" aria-label="Go to presentation">
					<IconContainer class="h-6 w-7">
						<IconHome />
					</IconContainer>
				</Link>
			</li>
			<li class="flex flex-row gap-x-6">
				<Link href="#work" aria-label="See my projects">Projects</Link>
				<Link
					href="#aboutMe"
					aria-label="Additional information about me"
				>
					About me
				</Link>
				<Link
					href="#contact"
					aria-label="You can contact me throught..."
				>
					Contact
				</Link>
			</li>
		</ul>
	</nav>
	<nav class="fixed top-0 z-[2] hidden w-full max-sm:block">
		<HamburgerMenuIcon />
		<div
			class="changeable z-[2] h-16 w-full p-3 shadow-[0px_0px_20px] backdrop-blur"
		>
		</div>
		<div
			class="nav-columnar-menu-background changeable bg-[rgba(0, 0, 0, 0)] invisible absolute top-0 z-50 mt-0 h-screen w-screen overflow-hidden p-0 transition-all delay-100 duration-300 ease-out max-sm:h-[100dvh] [&.active]:bg-[#00000080] [&.active]:ease-in-out"
		>
			<div
				id="nav-columnar-menu"
				class="changeable absolute left-[-100vw] mt-0 h-screen w-3/4 bg-[#241c2d] text-[0.9rem] transition-all duration-500 ease-out [&.active]:left-0 [&.active]:ease-in-out"
			>
				<picture
					class="image-container m-auto block w-11/12 p-2 text-center"
				>
					<img
						class="logo changeable m-auto h-auto rotate-180 transition-all duration-500 ease-out [&.active]:rotate-0"
						src="./images/logo-1.svg"
						alt="logo"
						width="200"
						height="200"
					/>
				</picture>
				<hr
					class="m-auto h-0.5 w-[80%] border-0 bg-[var(--default-font-color)]"
				/>
				<nav>
					<ul
						id="nav-columnar-menu-list"
						class="flex list-none flex-col items-center p-0 text-xl"
					>
						<SideBarLink href="#" label="Home">
							<IconContainer class="h-7 w-7">
								<IconHome />
							</IconContainer>
						</SideBarLink>
						<SideBarLink href="#work" label="Projects">
							<IconContainer class="h-7 w-7">
								<IconCode />
							</IconContainer>
						</SideBarLink>
						<SideBarLink href="#aboutMe" label="About me">
							<IconContainer class="h-7 w-7">
								<IconUser />
							</IconContainer>
						</SideBarLink>
						<SideBarLink href="#contact" label="Contact">
							<IconContainer class="h-7 w-7">
								<IconAddress />
							</IconContainer>
						</SideBarLink>
					</ul>
				</nav>
			</div>
		</div>
	</nav>
</header>
<style>
	.header-animation {
		animation: header-animation linear both;
		animation-timeline: scroll(root);
		animation-range: 0 100vh;
	}
	@keyframes header-animation {
		from {
			backdrop-filter: blur(8px) opacity(0);
			box-shadow: 0 0px 0px 0px black;
		}
		to {
			backdrop-filter: blur(8px) opacity(1);
			box-shadow: 0 10px 15px -3px black;
		}
	}
</style>
