---
import Link from "./Link.astro";
import SideBarLink from "./SideBarLink.astro";
import IconElement from "../shared/IconElement.astro";
---
<!-- TODO: mark the link is you visite that page -->
<header>
  <nav class="top-0 w-full fixed z-[4] backdrop-blur shadow-lg shadow-black">
    <ul class="flex flex-row justify-between m-0 p-0.5 [&>li]:self-center max-sm:hidden list-none">
      <li id="home" class="p-1">
        <Link href="#">
          <IconElement iconType="house" height="h-6" width="w-7" />
        </Link>
      </li>
      <li class="mx-2">
        <Link href="#work">Work</Link>
        <Link href="#aboutMe">About me</Link>
        <Link href="#contact">Contact</Link>
      </li>
    </ul>
  </nav>
  <nav class="hidden fixed top-0 w-full z-[2] max-sm:block">
    <div class="changeable p-3 z-[2] w-full backdrop-blur shadow-[0px_0px_20px]">
      <IconElement
        id="show-nav-columnar-menu"
        iconType="bars"
        height="h-8"
        width="w-8"
      />
    </div>
    <div class="nav-columnar-menu-background absolute p-0 mt-0 w-screen h-screen top-0 overflow-hidden z-50 changeable bg-[rgba(0, 0, 0, 0)] transition-all duration-300 delay-100 ease-out invisible [&.active]:ease-in-out [&.active]:bg-[#00000080]">
      <div id="nav-columnar-menu" class="changeable absolute mt-0 w-3/4 h-screen left-[-100vw] transition-all ease-out duration-500 text-[0.9rem] bg-[#241c2d] [&.active]:left-0 [&.active]:ease-in-out"
      >
        <picture class="image-container p-2 w-11/12 m-auto block text-center">
          <img
            class="logo m-auto h-auto transition-all duration-500 ease-out rotate-180 [&.active]:rotate-0 changeable"
            src="./images/logo-1.svg"
            alt="logo"
            width="200"
            height="200"
          />
        </picture>
        <hr
          class="w-[80%] border-0 h-0.5 bg-[var(--default-font-color)] m-auto"
        />
        <nav>
          <ul
            id="nav-columnar-menu-list"
            class="flex flex-col items-center text-xl p-0 list-none"
          >
            <SideBarLink href="#" label="Home" iconType="house" />
            <SideBarLink href="#work" label="Work" iconType="code-blocks" />
            <SideBarLink href="#aboutMe" label="About me" iconType="user" />
            <SideBarLink
              href="#contact"
              label="Contact"
              iconType="contact-phone"
            />
          </ul>
        </nav>
      </div>
    </div>
  </nav>
</header>
