---
const { currentLocale } = Astro;
export interface Props {
	SPANISH: string;
	ENGLISH: string;
}
const { SPANISH, ENGLISH } = Astro.props;
// TODO: improve design using a Select with dropdown https://flowbite.com/docs/components/dropdowns/
---

<script>
	const selects = document.getElementsByClassName('select_locale');
	for (const select of selects) {
		if (select instanceof HTMLSelectElement) {
			select.addEventListener('change', () => {
				window.location.href = `/${select.value}`;
			});
		}
	}
</script>
<label for="select_locale" class="sr-only">Select Locale</label>
<select
	class="select_locale text-md peer block border-0 border-b-2 border-[var(--default-font-color2)] bg-transparent px-2 py-1.5 pt-0 text-[var(--default-font-color2)] transition-all duration-200 ease-in-out focus:outline-none focus:ring-0"
>
	<option
		class="bg-[--default-background-color-shadow]"
		selected={currentLocale == 'en'}
		value="">{ENGLISH}</option
	>
	<option
		class="bg-[--default-background-color-shadow]"
		selected={currentLocale == 'es'}
		value="es">{SPANISH}</option
	>
</select>
