---
const { currentLocale } = Astro;
export interface Props {
	SPANISH: string;
	ENGLISH: string;
}
const { SPANISH, ENGLISH } = Astro.props;
const CURRENT_LANGUAGE = currentLocale === 'es' ? SPANISH : ENGLISH;
// TODO: fix LocalteSelector in mobile view
---

<script>
	const selects = document.getElementsByClassName('select_locale');
	for (const select of selects) {
		if (select instanceof HTMLSelectElement) {
			select.addEventListener('change', () => {
				window.location.href = `/${select.value}`;
			});
		}
	}
</script>

<button
	id="dropdownDefaultButton"
	data-dropdown-toggle="dropdown"
	class="inline-flex h-auto items-center rounded-md bg-transparent px-2.5 text-center font-lato text-[var(--default-font-color2)] transition-all duration-200 ease-in-out hover:text-teal-300 focus:outline-none focus:ring-4 focus:ring-[--default-secundary-font-color-2] focus:drop-shadow-[0rem_0rem_0.3rem_aqua]"
	type="button"
	>{CURRENT_LANGUAGE}
	<svg
		class="ms-3 h-2.5 w-2.5"
		aria-hidden="true"
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 10 6"
	>
		<path
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="m1 1 4 4 4-4"></path>
	</svg>
</button>

<div id="dropdown" class="z-10 hidden w-24 divide-y rounded-lg shadow">
	<ul
		class="rounded-md bg-[#453662] py-2 text-sm drop-shadow-[0rem_0rem_0.3rem_aqua]"
		aria-labelledby="dropdownDefaultButton"
	>
		<li>
			<a
				href="/es"
				class="block px-3 py-2 transition-all duration-200 ease-in-out hover:text-teal-300 hover:drop-shadow-[0rem_0rem_0.3rem_aqua]"
				>{SPANISH}</a
			>
		</li>
		<li>
			<a
				href="/"
				class="block px-3 py-2 transition-all duration-200 ease-in-out hover:text-teal-300 hover:drop-shadow-[0rem_0rem_0.3rem_aqua]"
				>{ENGLISH}</a
			>
		</li>
	</ul>
</div>
