---
import Link from "./Link.astro";
import IconElement from "../shared/IconElement.astro";
export interface Props {
  iconType: string;
  href: string;
  label: string;
}
const { iconType, href, label } = Astro.props;
---

<li
  class="flex w-40 p-2 items-center justify-start transition-colors ease-in-out active:bg-[#241c2d]"
>
  <IconElement iconType={iconType} height="h-6" width="w-6" />
  <Link href={href}>
    <h2 class="pl-1">{label}</h2>
  </Link>
</li>
