---
import Subtitle from "./shared/Subtitle.astro";
---

<section id="aboutMe">
  <div class="flex flex-col justify-center h-[90%] p-4">
    <header>
      <Subtitle left>About me</Subtitle>
    </header>
    <p class="reveal">
      Hello, My name is Carlos Jorge. I'm a full-stack engineer that enjoy
      coding on and off the work. I started working as a backend developer in
      2020 using .net technologies and sql server.
    </p>
    <p class="reveal">
      Currently, I'm also working on frontend technologies like angular, vue,
      html, css.
    </p>
    <p class="reveal">
      In my free time I like listening to music, reading books or watching
      movies from favorite directors.
    </p>
  </div>
</section>
