---
import Subtitle from '@shared/Subtitle.astro';
import CustomParagraph from '@shared/CustomParagraph.astro';
import SectionContainer from './shared/SectionContainer.astro';

export interface Props {
	ABOUT_ME_TITLE: string;
	ABOUT_ME_DESCRIPTION: string;
	ABOUT_ME_DESCRIPTION_SECOND_PARAGRAPH: string;
	ABOUT_ME_CV_ARIA_LABEL: string;
}

const {
	ABOUT_ME_TITLE,
	ABOUT_ME_DESCRIPTION,
	ABOUT_ME_DESCRIPTION_SECOND_PARAGRAPH,
	ABOUT_ME_CV_ARIA_LABEL,
} = Astro.props;
---

<SectionContainer id="aboutMe" class="h-screen max-sm:h-full max-sm:pt-16">
	<div class="flex h-[87%] flex-col justify-center break-words p-2">
		<header class="reveal pb-2">
			<Subtitle left>{ABOUT_ME_TITLE}</Subtitle>
		</header>
		<CustomParagraph
			class="text-2xl max-sm:text-xl"
			set:html={ABOUT_ME_DESCRIPTION}
			reveal
		/>
		<CustomParagraph
			class="text-2xl max-sm:text-xl"
			reveal
			set:html={ABOUT_ME_DESCRIPTION_SECOND_PARAGRAPH}
		/>
		<a
			class="reveal mt-2 rounded-md border-2 border-[--default-secundary-font-color-2] py-2.5 text-center text-2xl font-bold text-teal-300 transition-colors duration-500 ease-out hover:bg-teal-300 hover:text-[--default-background-color] max-sm:mt-10"
			href="/pdfs/resume.pdf"
			target="_blank"
			aria-label={ABOUT_ME_CV_ARIA_LABEL}>Curriculum Vitae</a
		>
	</div>
</SectionContainer>
