---
import Subtitle from './shared/Subtitle.astro';
import CustomParagraph from './shared/CustomParagraph.astro';
---

<section id="aboutMe" class="h-screen max-sm:h-[100dvh]">
	<div class="flex h-[90%] flex-col justify-center p-4">
		<header class="reveal">
			<Subtitle left>About me</Subtitle>
		</header>
		<CustomParagraph>
			Hello, My name is Carlos Jorge. I'm a full-stack engineer that enjoy
			coding on and off the work. I started working as a backend developer
			in 2020 using .net technologies and sql server.
		</CustomParagraph>
		<CustomParagraph>
			Currently, I'm also working on frontend technologies like angular,
			vue, html, css.
		</CustomParagraph>
		<CustomParagraph>
			In my free time I like listening to music, reading books or watching
			movies from favorite directors.
		</CustomParagraph>
	</div>
</section>
