---
import Subtitle from './shared/Subtitle.astro';
import CustomParagraph from './shared/CustomParagraph.astro';
---

<section id="aboutMe" class="h-screen max-sm:h-full max-sm:pt-16">
	<div class="flex h-[90%] flex-col justify-center break-words p-2">
		<header class="reveal pb-2">
			<Subtitle left>About me</Subtitle>
		</header>
		<CustomParagraph reveal>
			Hello, My name is Carlos Jorge. I'm a full-stack engineer that enjoy
			coding on and off the work. I started working as a backend developer
			in 2020 using .net technologies and sql server.
		</CustomParagraph>
		<CustomParagraph reveal>
			Currently, I'm also working on frontend technologies like angular,
			vue, html, css.
		</CustomParagraph>
		<a
			class="reveal mt-2 rounded-md border-2 border-teal-300 px-8 py-4 text-center text-2xl font-bold text-teal-300 transition-colors duration-500 ease-out hover:bg-teal-300 hover:text-[--default-background-color] max-sm:mt-12"
			href="/pdfs/resume.pdf"
			target="_blank"
			aria-label="Download Curriculum Vitae pdf">Curriculum Vitae</a
		>
	</div>
</section>
