---
export interface Props{
	href: string;
    title: string;
	iconType: string;
}
const { href, title, iconType } = Astro.props;

---
<a
href={href}
aria-label={title}
><i class:list={["svg-icon",iconType]} class="svg-icon icon-twitter"> </i
></a>