---
import Subtitle from './shared/Subtitle.astro';

export interface Props {
	HEADER_EXPERIENCE: string;
	EXPERIENCE: Experience[];
}

type Experience = {
	date: String;
	ocupation: String;
	description: String;
};
const { HEADER_EXPERIENCE, EXPERIENCE } = Astro.props;
---

<section id="experience">
	<header class="reveal my-6 mb-2 pt-2">
		<Subtitle left>{HEADER_EXPERIENCE}</Subtitle>
	</header>
	<ol
		class="reveal-experience relative mx-[1.33rem] mt-6 border-s border-[var(--default-font-color3)]"
	>
		{
			EXPERIENCE.map((job) => (
				<li class="mb-10 ms-3">
					<div class="flex flex-row items-center">
						<div class="absolute start-[-0.27rem] mb-1 h-2 w-2 rounded-full border border-[--default-background-color] bg-[var(--default-font-color3)]" />
						<time class="mb-1 text-sm font-normal leading-none text-[var(--default-font-color3)]">
							{job.date}
						</time>
					</div>
					<h3 class="reveal my-0.5 text-base font-semibold text-teal-200">
						{job.ocupation}
					</h3>
					<p class="reveal mb-2.5 text-sm font-normal text-[var(--default-font-color)]">
						{job.description}
					</p>
				</li>
			))
		}
	</ol>
</section>
