---
import Subtitle from './shared/Subtitle.astro';

export interface Props {
	HEADER_EXPERIENCE: string;
	EXPERIENCE: Experience[];
}

type Experience = {
	date: String;
	ocupation: String;
	description: String;
};
const { HEADER_EXPERIENCE, EXPERIENCE } = Astro.props;
---

<section id="experience">
	<header class="reveal my-6 mb-2 pt-2">
		<Subtitle left>{HEADER_EXPERIENCE}</Subtitle>
	</header>
	<ol
		class="reveal-experience relative mx-[1.33rem] mt-6 border-s border-[var(--default-secundary-font-color-2)]"
	>
		{
			EXPERIENCE.map((job) => (
				<li class="mb-7 ms-4">
					<div class="flex flex-row items-start">
						<div class="absolute -start-1.5 h-3 w-3 rounded-full border border-teal-200 bg-teal-200" />
						<time class="mb-1 text-sm font-normal leading-none text-teal-200">
							{job.date}
						</time>
					</div>
					<h3 class="reveal my-1.5 text-base font-semibold text-slate-50">
						{job.ocupation}
					</h3>
					<p class="reveal mb-2.5 text-sm font-normal text-[var(--default-font-color3)] ">
						{job.description}
					</p>
				</li>
			))
		}
	</ol>
</section>
