<header>
    <nav class="navbar-uncompressed">
      <ul class="navbar">
        <li id="home">
          <a href="#" aria-label="Go to the presentation section">
            <i class="svg-icon svg-icon-m icon-house"> </i>
          </a>
        </li>
        <li>
          <a class="nav-link" href="#aboutMe">About me</a>
          <a class="nav-link" href="#work">Work</a>
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <nav class="navbar-compressed">
      <div class="nav-header-menu changeable">
        <i
          class="svg-icon svg-icon-m icon-bars change-sidebar"
          id="show-nav-columnar-menu">
        </i>
      </div>
      <div class="nav-columnar-menu-background changeable">
        <div id="nav-columnar-menu" class="changeable">
          <picture class="image-container">
            <img
              class="logo changeable"
              src="./images/logo-1.svg"
              alt="logo"
              width="200"
              height="200" />
          </picture>
          <hr />
          <nav>
            <ul id="nav-columnar-menu-list">
              <li class="nav-element">
                <i class="svg-icon icon-house svg-icon-s"> </i>
                <a class="nav-link compressed change-sidebar" href="#"
                  ><h2 class="nav-link-label">Home</h2></a
                >
              </li>
              <li class="nav-element">
                <i class="svg-icon icon-user svg-icon-s"> </i>
                <a class="nav-link compressed change-sidebar" href="#aboutMe"
                  ><h2 class="nav-link-label">About me</h2></a
                >
              </li>
              <li class="nav-element">
                <i class="svg-icon icon-file-code svg-icon-s"></i>
                <a class="nav-link compressed change-sidebar" href="#work"
                  ><h2 class="nav-link-label">Work</h2></a
                >
              </li>
              <li class="nav-element">
                <i class="svg-icon icon-phone svg-icon-s"> </i>
                <a class="nav-link compressed change-sidebar" href="#contact"
                  ><h2 class="nav-link-label">Contact</h2></a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </nav>
  </header>