---
import CustomParagraph from './shared/CustomParagraph.astro';
---

<section id="home" class="flex h-screen flex-col justify-evenly">
	<div class="p-4 font-lato text-[var(--default-font-color)] max-sm:p-2">
		<div class="reveal">
			<h1
				class="mx-0 my-3 animate-presentation-title text-4xl text-[var(--default-secundary-font-color)] max-sm:text-5xl"
			>
				Hi, I am <br class="hidden max-sm:inline" />Carlos Jorge, <br />
				 Web developer!
			</h1>
		</div>
		<div class="reveal">
			<h2
				class="mx-0 my-3 animate-presentation-main-skill text-3xl max-sm:text-4xl"
			>
				Welcome to my personal portfolio!
			</h2>
		</div>
		<div class="mx-0 my-3 animate-presentation-description">
			<CustomParagraph>
				Cuban computer science from Havana University. Currently working
				as full-stack engineer building .net and Vuejs applications.
			</CustomParagraph>
		</div>
	</div>
</section>
