---
import CustomParagraph from './shared/CustomParagraph.astro';
---

<section
	id="home"
	class="flex h-screen flex-col justify-evenly pt-0 max-sm:h-[100dvh]"
>
	<div class="p-2 font-lato text-[var(--default-font-color)]">
		<div class="reveal">
			<h1
				class="mx-0 my-3 animate-presentation-title text-5xl font-bold text-[var(--default-secundary-font-color)] max-sm:text-5xl"
			>
				Hi, I am <br class="hidden max-sm:inline" />Carlos Jorge, <br />
				 Web developer!
			</h1>
		</div>
		<div class="reveal">
			<h2
				class="mx-0 my-3 animate-presentation-main-skill text-4xl text-[2.52rem] font-bold"
			>
				Welcome to my personal portfolio!
			</h2>
		</div>
		<div class="mx-0 my-3 animate-presentation-description break-words">
			<CustomParagraph>
				Cuban computer scientist from Havana University. Currently
				working as full-stack engineer building .net and Vuejs
				applications.
			</CustomParagraph>
		</div>
	</div>
</section>
