<section>
    <div class="presentation centered-article">
      <div class="reveal active">
        <h1 class="presentation-title">
          Hi, I am <br class="br-show" />Carlos Jorge, <br />
          Web developer!
        </h1>
      </div>
      <div class="reveal active">
        <h2 class="presentation-main-skill">
          Welcome to my personal portfolio!
        </h2>
      </div>
      <div class="reveal active">
        <p class="presentation-description">
          I'm a cuban computer science from Havana University. Currently,
          I'm working as full-stack engineer focused in building .net
          application and their performance. Also, I work in frontend
          websites using frameworks like angular, vue or react.
        </p>
      </div>
    </div>
  </section>