<section class=" h-screen">
  <div class="text-[var(--default-font-color)] p-4 font-lato">
    <div class="reveal">
      <h1
        class="animate-presentation-title text-4xl text-[var(--default-secundary-font-color)] my-3 mx-0"
      >
        Hi, I am <br class="hidden max-sm:inline" />Carlos Jorge, <br />
        Web developer!
      </h1>
    </div>
    <div class="reveal">
      <h2 class="animate-presentation-main-skill text-3xl my-3 mx-0">
        Welcome to my personal portfolio!
      </h2>
    </div>
    <div class="reveal">
      <p class="animate-presentation-description my-3 mx-0">
        Cuban computer science from Havana University. Currently working as full-stack engineer building .net and Vuejs applications.
      </p>
    </div>
  </div>
</section>
