<section id="home" class="h-screen">
	<div class="p-4 font-lato text-[var(--default-font-color)]">
		<div class="reveal">
			<h1
				class="mx-0 my-3 animate-presentation-title text-4xl text-[var(--default-secundary-font-color)]"
			>
				Hi, I am <br class="hidden max-sm:inline" />Carlos Jorge, <br />
				 Web developer!
			</h1>
		</div>
		<div class="reveal">
			<h2 class="mx-0 my-3 animate-presentation-main-skill text-3xl">
				Welcome to my personal portfolio!
			</h2>
		</div>
		<div class="reveal">
			<p class="mx-0 my-3 animate-presentation-description">
				Cuban computer science from Havana University. Currently working
				as full-stack engineer building .net and Vuejs applications.
			</p>
		</div>
	</div>
</section>
