---
import IconElement from '../shared/IconElement.astro';

export interface Props {
	href: string;
	title: string;
	iconType: string;
}
const { href, title, iconType } = Astro.props;
---

<a href={href} aria-label={title}>
	<IconElement iconType={iconType} height="h-16" width="w-16" />
</a>
