---
import Contact from './Contact.astro';
import Subtitle from '../shared/Subtitle.astro';
import CustomLink from '../shared/CustomLink.astro';
import CustomParagraph from '../shared/CustomParagraph.astro';
---

<footer>
	<div class="m-1 grid h-screen max-sm:h-[70dvh]">
		<div id="contact" class="flex flex-col justify-center">
			<section class="z-0 mt-8 w-1/2 p-2 max-sm:mt-0 max-sm:w-[90%]">
				<Subtitle center>Contact</Subtitle>
				<div class="reveal mx-0 my-3 text-center">
					<CustomParagraph>
						I'm always open for new job oportunities or answer any
						question. You can reach me through the following social
						networks:
					</CustomParagraph>
				</div>
				<!-- TODO: avoid launch sidebar event if a contact is clicked -->
				<address class="reveal text-center">
					<Contact
						href="mailto:rodriguezcuelloc@gmail.com"
						title="contact via this email address"
						iconType="google"
					/>
					<Contact
						href="https://github.com/carlosjorger"
						title="See my github profile"
						iconType="github"
					/>
					<Contact
						href="https://www.linkedin.com/in/carlosjorger/"
						title="See my linkedin profile and connect with me"
						iconType="linkedin"
					/>
					<Contact
						href="https://twitter.com/carlosjorgerc"
						title="See my twitter profile and follow me"
						iconType="twitter"
					/>
				</address>
			</section>
		</div>
		<div
			class="flex flex-col justify-center font-lato text-[var(--default-font-color)]"
		>
			<p class="last-reveal mx-auto my-0 mb-12 text-center text-3xl">
				<strong class="inline italic">© 2022 Carlos Jorge</strong>
				<br />
				<span>
					<CustomLink
						href="https://github.com/carlosjorger/carlosjorger.github.io"
						arialLabel="Github project link"
					>
						Published
					</CustomLink>
					 in
					<CustomLink
						href="https://pages.github.com/"
						arialLabel="Github pages link"
					>
						Github Page
					</CustomLink>
					<span></span>
				</span>
			</p>
		</div>
	</div>
</footer>
