---
import Contact from "./Contact.astro";
---

<footer>
  <div class="footer">
    <div id="contact" class="contacts reveal">
      <h2 class="subtitle contacts-item">Contact</h2>
      <address class="contacts-item">
        <Contact
          href="mailto:rodriguezcuelloc@gmail.com"
          title="contact via this email address"
          iconType="icon-google"
        />
        <Contact
          href="https://github.com/carlosjorger"
          title="See my github profile"
          iconType="icon-github"
        />
        <Contact
          href="https://www.linkedin.com/in/carlosjorger/"
          title="See my linkedin profile and connect with me"
          iconType="icon-linkedin"
        />
        <Contact
          href="https://twitter.com/carlosjorgerc"
          title="See my twitter profile and follow me"
          iconType="icon-twitter"
        />
      </address>
    </div>
    <div class="footer-info reveal">
      <p class="footer-info-item">
        <strong class="year">© 2022 Carlos Jorge</strong>
        <br />
        <a
          class="work-link"
          href="https://github.com/carlosjorger/carlosjorger.github.io"
          >Published</a
        >
        in
        <a class="work-link" href="https://pages.github.com/">Github Page</a>
      </p>
    </div>
  </div>
</footer>
