---
import Subtitle from '../shared/Subtitle.astro';
import CustomLink from '../shared/CustomLink.astro';
import CustomParagraph from '../shared/CustomParagraph.astro';
import IconContact from '../icons/IconContact.astro';
import IconMail from '../icons/IconMail.astro';
import IconGithub from '../icons/IconGithub.astro';
import IconLinkedin from '../icons/IconLinkedin.astro';
import IconTwitter from '../icons/IconTwitter.astro';

const icons = [
	{
		href: 'mailto:rodriguezcuelloc@gmail.com',
		title: 'contact via this email address',
		iconComponent: IconMail,
	},
	{
		href: 'https://github.com/carlosjorger',
		title: 'See my github profile',
		iconComponent: IconGithub,
	},
	{
		href: 'https://www.linkedin.com/in/carlosjorger/',
		title: 'See my linkedin profile and connect with me',
		iconComponent: IconLinkedin,
	},
	{
		href: 'https://twitter.com/carlosjorgerc',
		title: 'See my twitter profile and follow me',
		iconComponent: IconTwitter,
	},
];
---

<footer>
	<div
		class="grid h-screen bg-[radial-gradient(ellipse_130%_100%_at__50%_-20%,rgba(255,255,255,0)_50%,var(--default-background-color-darker))] max-sm:h-[70dvh]"
	>
		<div id="contact" class="flex flex-col justify-center">
			<section class="z-0 mt-8 w-1/2 p-2 max-sm:mt-0 max-sm:w-[90%]">
				<Subtitle center>Contact</Subtitle>
				<div class="reveal mx-0 my-4 text-center">
					<CustomParagraph>
						I'm always open for new job oportunities or answer any
						question. You can reach me through:
					</CustomParagraph>
				</div>
				<address
					class="reveal mx-auto my-0 flex w-5/6 flex-row justify-evenly"
				>
					{
						icons.map((icon) => (
							<IconContact href={icon.href} title={icon.title}>
								<icon.iconComponent />
							</IconContact>
						))
					}
				</address>
			</section>
		</div>
		<div
			class="flex flex-col justify-center font-lato text-[var(--default-font-color)]"
		>
			<p class="last-reveal mx-auto my-0 mb-12 text-center text-3xl">
				<strong class="inline italic">© 2022 Carlos Jorge</strong>
				<br />
				<span>
					<CustomLink
						href="https://github.com/carlosjorger/carlosjorger.github.io"
						aria-label="Link to project published on GitHub"
					>
						Published
					</CustomLink>
					in
					<CustomLink
						href="https://pages.github.com/"
						aria-label="Github pages link"
					>
						Github Page
					</CustomLink>
					<span></span>
				</span>
			</p>
		</div>
	</div>
</footer>
