---
import IconContainer from '../icons/IconContainer.astro';

export interface Props {
	id?: string;
	href: string;
	title: string;
	class?: string;
}
const { id = undefined, href, title } = Astro.props;
---

<a href={href} aria-label={title} class:list={['m-1']}>
	<IconContainer id={id} class={Astro.props.class}>
		<slot />
	</IconContainer>
</a>
