---
import Layout from './Layout.astro';
import { getI18N } from '../i18n/';
import Header from '@components/Header/Header.astro';
import SectionContainer from '@components/shared/SectionContainer.astro';
import Title from '@components/shared/Title.astro';
import '../styles/post-styles.css';
import { primaryFormatDate } from '@utils/dateUtils';
export interface Props {
	frontmatter: {
		title: string;
		description: string;
		image: {
			src: string;
			alt: string;
		};
		pubDate: string;
	};
}

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { frontmatter } = Astro.props;
const public_src = currentLocale == 'en' ? '' : '..';

const formatedDate = primaryFormatDate(frontmatter.pubDate);
// TODO: use Astro api to list posts  https://docs.astro.build/es/tutorial/5-astro-api/
---

<Layout {...i18n}>
	<div
		class="absolute -z-10 m-0 h-screen w-full bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.4),rgba(255,255,255,0))]"
	>
	</div>
	<Header {...i18n} {public_src} />
	<main class="pt-10">
		<SectionContainer
			id="blog"
			class="m-0 mx-auto text-[var(--default-font-color)]"
		>
			<p class="text-sm text-[var(--default-font-color)]">
				{formatedDate}
			</p>
			<header class="reveal">
				<Title class="mt-5 text-[var(--default-font-color)]"
					>{frontmatter.title}</Title
				>
			</header>
			<img
				transition:name={frontmatter.title}
				class="reveal my-7 rounded-lg object-cover"
				{...frontmatter.image}
				height="520"
				width="925"
			/>
			<article
				class="prose prose-custom mb-10 max-w-none break-words dark:prose-invert lg:prose-base prose-img:mx-auto"
			>
				<slot />
			</article>
		</SectionContainer>
	</main>
</Layout>
