---
import Layout from './Layout.astro';
import { getI18N } from '../i18n/';
import Header from '@components/Header/Header.astro';
import SectionContainer from '@components/shared/SectionContainer.astro';
import Subtitle from '@components/shared/Subtitle.astro';
import Title from '@components/shared/Title.astro';

export interface Props {
	frontmatter: {
		title: string;
		description: string;
		image: {
			src: string;
			alt: string;
		};
		pubDate: string;
	};
}

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { frontmatter } = Astro.props;
const public_src = currentLocale == 'en' ? '' : '..';
---

<script>
	import { touchOutsideColumnNavbar, touchIcon } from '@utils/touchEvents';
	document.addEventListener('touchstart', touchOutsideColumnNavbar, {
		passive: true,
	});
	document.addEventListener('DOMContentLoaded', function () {
		const changeSiderElements =
			document.getElementsByClassName('change-sidebar');
		for (const element of changeSiderElements) {
			element.addEventListener('click', touchIcon);
		}
	});
</script>
<!-- TODO: keep worging on styles -->
<Layout {...i18n}>
	<!-- TODO: change header in this page -->
	<Header {...i18n} {public_src} />

	<main>
		<SectionContainer id="blog" class="m-0 mx-auto mt-4 w-11/12">
			<p class="text-[var(--default-font-color)]">
				{frontmatter.pubDate.slice(0, 10)}
			</p>
			<header class="reveal pb-2">
				<Title class="text-[var(--default-font-color)]"
					>{frontmatter.title}</Title
				>
			</header>
			<img
				transition:name={frontmatter.title}
				class="reveal rounded-lg object-cover"
				{...frontmatter.image}
				height="520"
				width="925"
			/>
		</SectionContainer>
	</main>
</Layout>
