---
import Project from './Project.astro';
import Subtitle from '../shared/Subtitle.astro';
---

<section id="work">
	<div class="flex flex-col p-2">
		<header class="reveal my-7 mb-2">
			<Subtitle left>
				Some projects<br />
				 I've made
			</Subtitle>
		</header>

		<Project
			id="online-cv-maker"
			description="An online cv maker web application used to design a custom curriculum vitae."
			title="Cuvimaker"
			anchorLabel="See my online cv maker github project"
			githubLink="https://github.com/carlosjorger/cuvimaker"
			imageSrc="bg-cuvimakerExample"
			website="https://cuvimaker.netlify.app/"
		/>
		<Project
			id="rusty-copier"
			description="Its a copier implemented in rust programming language."
			title="Rusty Copier"
			anchorLabel="See my rusty copier github project"
			githubLink="https://github.com/carlosjorger/rustycopier"
			imageSrc="bg-rustycopier"
		/>
		<Project
			id="angular-portfolio"
			description="It is a personal portfolio builded with angular using really cool animation (Angular animations)."
			title="Angular Portfolio"
			anchorLabel="See my portfolio github project"
			githubLink="https://github.com/carlosjorger/portfolio"
			imageSrc="bg-portfolio"
			website="https://carlosjorger.github.io/portfolio/"
		/>
	</div>
</section>
