---
import Project from './Project.astro';
import Subtitle from '../shared/Subtitle.astro';

export interface Props {
	PROJECTS_TITLE: string;
	PROJECTS_TITLE_AFTER_BR: string;
	PROYECTS: {
		CUVIMAKER: ProjectI18n;
		RUSTY_COPIER: ProjectI18n;
		ANGULAR_PORTFOLIO: ProjectI18n;
	};
}
type ProjectI18n = {
	description: string;
	anchorLabel: string;
};
type Project = {
	id: string;
	description: string;
	title: string;
	anchorLabel: string;
	githubLink: string;
	imageSrc: string;
	website?: string;
};
const { PROJECTS_TITLE, PROJECTS_TITLE_AFTER_BR, PROYECTS } = Astro.props;

const projects = [
	{
		id: 'online-cv-maker',

		title: 'Cuvimaker',
		githubLink: 'https://github.com/carlosjorger/cuvimaker',
		imageSrc: '[&.visibleImg]:bg-cuvimakerExample',
		website: 'https://cuvimaker.netlify.app/',
		...PROYECTS.CUVIMAKER,
	},
	{
		id: 'rusty-copier',
		title: 'Rusty Copier',
		githubLink: 'https://github.com/carlosjorger/rustycopier',
		imageSrc: '[&.visibleImg]:bg-rustycopier',
		...PROYECTS.RUSTY_COPIER,
	},
	{
		id: 'angular-portfolio',
		title: 'Angular Portfolio',
		githubLink: 'https://github.com/carlosjorger/portfolio',
		imageSrc: '[&.visibleImg]:bg-portfolio',
		website: 'https://carlosjorger.github.io/portfolio/',
		...PROYECTS.ANGULAR_PORTFOLIO,
	},
] as Project[];
---

<section id="work">
	<div class="flex flex-col p-2">
		<header class="reveal my-7 mb-2">
			<Subtitle left>
				{PROJECTS_TITLE}<br />
				{PROJECTS_TITLE_AFTER_BR}
			</Subtitle>
		</header>
		{projects.map((project) => <Project {...project} />)}
	</div>
</section>
